div.user{
    color: #e8e6e6;
}
.heading{
    background-color: #252424;
    box-shadow: 0px 5px 7px black;
}
.body{
    background-color: #363434;
}
.persName{
  font-size: large;
  font-family: "Bahnschrift"
}
.userName{
  font-size: large;
  font-family: "Bahnschrift"
}
.logButton {
  padding: 5px 15px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 600;
  font-size: 10px;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, var(--quarternary)  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logButton:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.logButton:active {
  transform: scale(0.95);
}