.form-container{
    height: 100vh;
    width: 95vw;
    border-radius: 10px !important;
}
 .messageForm{
    height: 200px;
    width: 100%;
    border-radius: 10px;
 }
 .background{
    background-color: #363434;
    background-position: top right;
    background-size: auto;
}

.boxcolor{
    background-color: #141413;
    box-shadow: 0px 5px 7px black;
}


.name{  
    position: relative; 
    top: 10vh;
    left: 25vw;
    font-family: "Arial ",  sans-serif;
} 
.email{
    position: flex;
    top: 15vh;
    left: 23vw;
    font-family: "Arial ",  sans-serif;
}
.messageTag{
  text-align: left !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 414px) {
    .reqRect {
      height: 15rem;
    }
    .name {
      width: 10rem;
    }
    .email {
      width: 10rem;
    }
    .submitB {
      width: auto;
    }
    footer.contactFooter {
      padding-top: 20rem;
    }
    }
    .submitB {
      padding: 15px 45px;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      border-radius: 10px;
      display: block;
      border: 0px;
      font-weight: 600;
      font-size: 10px;
      box-shadow: 0px 0px 14px -7px #f09819;
      background-image: linear-gradient(45deg, #FF512F 0%, var(--quarternary)  51%, #FF512F  100%);
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .submitB:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
    
    .submitB:active {
      transform: scale(0.95);
    }