.navigate{
    color: azure !important;
}
.bg{
    background-color: #141413;
    box-shadow: 0px 5px 7px black;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.logo{
    color: azure;
    font-family: "Bahnschrift"
}

.logo::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c92d22;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.logo:hover::after{
    width: 100%;
}
.logo:hover{
    color: gray !important;
}
.navi{
    color: azure;
    margin: auto;
}
.navi::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c92d22;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navi:hover::after{
    width: 100%;
}
.navi:hover{
    color: gray !important;
}
.dots{
    font-size: 2rem;
    color: grey;
}
@media screen and (max-width: 992px){
    .dots{
        display: none;
    }
}
.toggler{
    background-color: transparent !important;
}
.toggler:hover{
    transition: 0.5s;
    background-color: #c92d22 !important;
}