.navigate{
    color: azure !important;
}
.bg{
    background-color: #141413;
}
.logo{
    color: azure;
}
.logo:hover{
    color: gray !important;
}
.navi{
    color: azure;
}
.navi:hover{
    color: gray !important;
}
.dots{
    font-size: 2rem;
    color: grey;
}
@media screen and (max-width: 992px){
    .dots{
        display: none;
    }
}
.toggler{
    background-color: darkolivegreen !important;
}
.toggler:hover{
    transition: 0.25s;
    background-color: brown !important;
}